<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brus5.lukaszkrawczak.fitx">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/fitx"
        android:roundIcon="@mipmap/ic_launcher_error"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- SetFacebookID --><meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/fitx"
            android:theme="@style/FiTX3theme.noBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/fitx"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".stats.StatsActivity"
            android:label="@string/fitx"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".diet.DietActivity"
            android:label="@string/fitx"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".training.TrainingActivity"
            android:label="@string/fitx"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".diet.DietProductDetailsActivity"
            android:label="@string/fitx"
            android:parentActivityName=".diet.DietActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".diet.DietProductSearchActivity"
            android:label="@string/fitx"
            android:parentActivityName=".diet.DietActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".training.TrainingDetailsActivity"
            android:label="@string/fitx"
            android:parentActivityName=".training.TrainingSearchActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".training.TrainingSearchActivity"
            android:label="@string/fitx"
            android:parentActivityName=".training.TrainingActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".training.TrainingListActivity"
            android:label="@string/fitx"
            android:parentActivityName=".training.TrainingSearchActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".training.CardioDetailsActivity"
            android:label="@string/fitx"
            android:parentActivityName=".training.TrainingActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".training.CardioListActivity"
            android:label="@string/fitx"
            android:parentActivityName=".training.TrainingActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".settings.list.SettingsActivity"
            android:label="@string/fitx"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".settings.SettingsDetailsActivity"
            android:label="@string/fitx"
            android:parentActivityName=".settings.list.SettingsActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity
            android:name=".settings.SettingsDetailsTripleActivity"
            android:parentActivityName=".settings.list.SettingsActivity"
            android:theme="@style/FiTX3theme.noBar" />
        <activity android:name=".register.RulesRegisterActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".ConnectionFailedActivity"></activity>
    </application>

</manifest>